<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucriment.lucriment">

    <uses-sdk tools:overrideLibrary="com.braintreepayments.cardform" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKeiriA6QLt5opcPP-wmrnOrlIs66mMo4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".CreationActivity" />
        <activity android:name=".BrowseActivity" />
        <activity android:name=".TutorCreation" />
        <activity android:name=".TutorListActivity" />
        <activity android:name=".SelectedTutorActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ViewMessagesActivity" />
        <activity android:name=".PersonalProfileActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".RequestSessionActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".SessionsActivity" />
        <activity android:name=".SessionsTableActivity" />
        <activity android:name=".SessionDetails" />
        <activity android:name=".CurrentSession" />
        <activity android:name=".PastSession" />
        <activity android:name=".Favourites" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".ImageLayout" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".DefaultAvailability" />
        <activity android:name=".DayAvailability" />
        <activity android:name=".studentProfileActivity" />
        <activity android:name=".CustomAvailabilitySelection" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".EditTutorProfile" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SearchForSubjects" />
        <activity android:name=".AllReviewsActivity" />
        <activity android:name=".TutorSessionsActivity" />
        <activity android:name=".RequestDetailsActivity" />
        <activity android:name=".BookedDetailsActivity" />
        <activity android:name=".PastDetailsActivity" />
        <activity android:name=".TutorAvailabilityActivity" />
        <activity android:name=".StatsActivity" />

    </application>

</manifest>