<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucriment.lucriment">

    <uses-sdk tools:overrideLibrary="com.braintreepayments.cardform" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKeiriA6QLt5opcPP-wmrnOrlIs66mMo4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="Messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="Messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="Students.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="Students.ProfileActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LoginActivity" />
        <activity android:name="Students.CreationActivity" />
        <activity android:name="Misc.BrowseActivity" />
        <activity android:name="Tutors.TutorCreation" />
        <activity android:name="Students.TutorListActivity" />
        <activity android:name="Students.SelectedTutorActivity" />
        <activity android:name="Messaging.MessageActivity" />
        <activity android:name="Messaging.ViewMessagesActivity" />
        <activity android:name="Tutors.PersonalProfileActivity" />
        <activity android:name="Tutors.ScheduleActivity" />
        <activity android:name="Sessions.RequestSessionActivity" />
        <activity android:name="Sessions.TimePickerActivity" />
        <activity android:name="Sessions.SessionsActivity" />
        <activity android:name="Misc.SessionsTableActivity" />
        <activity android:name="Sessions.SessionDetails" />
        <activity android:name="Sessions.CurrentSession" />
        <activity android:name="Sessions.PastSession" />
        <activity android:name="Students.Favourites" />
        <activity android:name="Misc.UploadActivity" />
        <activity android:name="Misc.ImageLayout" />
        <activity android:name="Tutors.MyProfileActivity" />
        <activity android:name="Students.SettingsActivity" />
        <activity android:name="Tutors.DefaultAvailability" />
        <activity android:name="Tutors.DayAvailability" />
        <activity android:name="Students.studentProfileActivity" />
        <activity android:name="Tutors.CustomAvailabilitySelection" />
        <activity android:name="Students.PaymentActivity" />
        <activity android:name="Tutors.EditTutorProfile" />
        <activity android:name="Tutors.AboutActivity" />
        <activity android:name="Tutors.SearchForSubjects" />
        <activity android:name="Tutors.AllReviewsActivity" />
        <activity android:name="Tutors.TutorSessionsActivity" />
        <activity android:name="Sessions.RequestDetailsActivity" />
        <activity android:name="Sessions.BookedDetailsActivity" />
        <activity android:name="Sessions.PastDetailsActivity" />
        <activity android:name="Tutors.TutorAvailabilityActivity" />
        <activity android:name="Tutors.StatsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name="Tutors.TutorPayoutActivity" />
        <activity android:name="Tutors.TutorCreationP2" />
        <activity android:name="Students.AppInfoActivity" />
        <activity android:name="Tutors.CreationSubjectSelection" />
        <activity android:name="Sessions.CurrentSessionDetails" />
        <activity android:name=".RedirectOnLogin"></activity>
    </application>

</manifest>