<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucriment.lucriment">

    <uses-sdk tools:overrideLibrary="com.braintreepayments.cardform" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKeiriA6QLt5opcPP-wmrnOrlIs66mMo4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="students.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="students.ProfileActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LoginActivity" />
        <activity android:name="students.CreationActivity" />
        <activity android:name="misc.BrowseActivity" />
        <activity android:name="tutors.TutorCreation" />
        <activity android:name="students.TutorListActivity" />
        <activity android:name="students.SelectedTutorActivity" />
        <activity android:name="messaging.MessageActivity" />
        <activity android:name="messaging.ViewMessagesActivity" />
        <activity android:name="tutors.PersonalProfileActivity" />
        <activity android:name="tutors.ScheduleActivity" />
        <activity android:name="sessions.RequestSessionActivity" />
        <activity android:name="sessions.TimePickerActivity" />
        <activity android:name="sessions.SessionsActivity" />
        <activity android:name="misc.SessionsTableActivity" />
        <activity android:name="sessions.SessionDetails" />
        <activity android:name="sessions.CurrentSession" />
        <activity android:name="sessions.PastSession" />
        <activity android:name="students.Favourites" />
        <activity android:name="misc.UploadActivity" />
        <activity android:name="misc.ImageLayout" />
        <activity android:name="tutors.MyProfileActivity" />
        <activity android:name="students.SettingsActivity" />
        <activity android:name="tutors.DefaultAvailability" />
        <activity android:name="tutors.DayAvailability" />
        <activity android:name="students.studentProfileActivity" />
        <activity android:name="tutors.CustomAvailabilitySelection" />
        <activity android:name="students.PaymentActivity" />
        <activity android:name="tutors.EditTutorProfile" />
        <activity android:name="tutors.AboutActivity" />
        <activity android:name="tutors.SearchForSubjects" />
        <activity android:name="tutors.AllReviewsActivity" />
        <activity android:name="tutors.TutorSessionsActivity" />
        <activity android:name="sessions.RequestDetailsActivity" />
        <activity android:name="sessions.BookedDetailsActivity" />
        <activity android:name="sessions.PastDetailsActivity" />
        <activity android:name="tutors.TutorAvailabilityActivity" />
        <activity android:name="tutors.StatsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name="tutors.TutorPayoutActivity" />
        <activity android:name="tutors.TutorCreationP2" />
        <activity android:name="students.AppInfoActivity" />
        <activity android:name="tutors.CreationSubjectSelection" />
        <activity android:name="sessions.CurrentSessionDetails" />
        <activity android:name=".RedirectOnLogin"></activity>
    </application>

</manifest>